html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

/* Hero at top */

header {
  background-image: url(../images/glasses-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}

/* Container for all content */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Top nav bar styling */

nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

ul li a {
  color: white;
  text-decoration: none;
}
